*{
    margin: 0px;
    padding:2px;
    gap: 10px;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;

}
.navbar__s1__title{
    color: #b200ff;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.navbar__s2 input
{
border: none;
width: 60%;
font-size: 16px;
align-items: center;
background-color: transparent;

}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
}
.navbar__s4{
    display: none;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom:solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: purple;
    color: white;
    padding: 10px;
     border-radius: 30px;
     cursor: pointer;
     border: solid purple 1px;
}
.categories p:hover{
    transition: 2s;
    background-color: transparent;
    color: #b200ff;
    border: solid purple 1px;
}
.sale-image {
    position: relative;
}
.sale-image img{
    width: 100%;
    height: 50%;
}
.sale-image__offer{
    width: 35%;
    border: solid black 2px;
     background-color: white;
     padding: 2%;
     position: absolute;
     top: 10%;
     left: 10%;
     animation-name: zoom;
     animation-duration: 2s;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        opacity:1;
        transform: scale(1);
          }
}
.recommended{
    padding: 10px;
}
.recommeded__container{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-top: 10px;
    
}
.course-card{
    width: 200px;
}
.course-card img{
    width: 100%;
    height: 50%;
}
.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.topic__container p{
    border: solid black 2px;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
       
   }
  .footer__one
  {
    display: flex;
    gap: 10px;
    margin
  }
  .footer{
    background-color: black;
    color: white;
  }
  .footer__two
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  .footer__one p{
    margin: 20px;
  }
  @media screen and (max-width:600px){
    body{
        font-size: 10px;
    }
    .categories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
  }